* {
    box-sizing: border-box;
}
.boardSquare {
  color: red;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 50px;
  border: 5px solid black;
}
#gameBoard {
  display: grid;
  grid-template-columns: repeat(3, 100px);
  gap: 0px;
  grid-auto-rows: minmax(100px, auto);
}
#mainContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
}
.endScreen {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, .95);
  justify-content: center;
  align-items: center;
  color: whitesmoke;
  font-size: 30px;
  flex-direction: column;
}
.showEndScreen {
  display: flex;
}
.restart {
  background-color: white;
  padding: 20px;
  font-size: 50px;
  border: 5px solid black
}
.restart:hover {
  background-color: black;
  color: white;

}
.startScreen {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, .95);
  justify-content: center;
  align-items: center;
  color: whitesmoke;
  font-size: 30px;
  flex-direction: column;
}
.startGame {
  padding: 20px;
  margin: 10px;
  display: flex;
  width: 30vw;
  border: 5px solid black;
}
.startGame:hover {
  background-color: black;
  color: white;
}
.startScreenShow {
  display: none;
}